# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated
config/db/itdidb_elearning_auth.php
config/db/itdidb_elearning.php
config/db/itdidb_pmis.php
config/db/itdidb_user.php
images/404/404.png
images/blog/blog-one.jpg
images/blog/blog-three.jpg
images/blog/blog-two.jpg
images/blog/man-four.jpg
images/blog/man-one.jpg
images/blog/man-three.jpg
images/blog/man-two.jpg
images/blog/socials.png
images/cart/one.png
images/cart/three.png
images/cart/two.png
images/home/bg_border.png
images/home/gallery1.jpg
images/home/gallery2.jpg
images/home/gallery3.jpg
images/home/gallery4.jpg
images/home/girl1.jpg
images/home/girl2.jpg
images/home/girl3.jpg
images/home/iframe1.png
images/home/iframe2.png
images/home/iframe3.png
images/home/iframe4.png
images/home/logo.png
images/home/map.png
images/home/new.png
images/home/partner1.png
images/home/partner2.png
images/home/partner3.png
images/home/partner4.png
images/home/pricing.png
images/home/product1.jpg
images/home/product2.jpg
images/home/product3.jpg
images/home/product4.jpg
images/home/product5.jpg
images/home/product6.jpg
images/home/recommend1.jpg
images/home/recommend2.jpg
images/home/recommend3.jpg
images/home/sale.png
images/home/searchicon.png
images/home/shipping.jpg
images/product-details/1.jpg
images/product-details/new.jpg
images/product-details/rating.png
images/product-details/share.png
images/product-details/similar1.jpg
images/product-details/similar2.jpg
images/product-details/similar3.jpg
images/shop/advertisement.jpg
images/shop/product7.jpg
images/shop/product8.jpg
images/shop/product9.jpg
images/shop/product10.jpg
images/shop/product11.jpg
images/shop/product12.jpg
web/imadeos/.gitignore
web/imadeos/itdi-logo.png
web/imadeos/landing_page.jpg
web/img/ajax-loader.gif
web/img/connected.png
web/img/epa.png
web/img/fb.png
web/img/fb1.png
web/img/map_dost.png
web/img/map_itdi.png
web/img/page-background.png
web/img/portal-bg.png
web/img/portalbg.png
web/img/portalc-bg1.png
web/img/slide/slide-1.jpg
web/img/slide/slide-2.jpg
web/img/slide/slide-3.1
web/img/slide/slide-3.jpg
web/img/slide/slide-4.jpg
web/img/slide/slide-5.jpg
web/img/slide/slide-7.jpg
web/uploads/slide4_size.jpg
web/uploads/user.png
web/uploads/files/3f8f3e152524682a65dfded8fdcc50ced7ae6cf1b7bc492c7c8ca50fed71ffae.jpg
web/uploads/files/6ac4db2289587d7fafbc11d905a95e3357b0f591e5a44a65b72f419a78f82d84.jpg
